.eFapsButton {
  background-color: transparent;
  background-image: url(button-rb.png);
  background-position: right top;
  background-repeat: no-repeat;
  border-style: none;
  border-width: 0pt;
  display: block;
  height: 28px;
  line-height: normal;
  margin-right: 6px;
  padding-right: 18px;
}

.eFapsButton img {
  border-style: none;
  float: left;
  padding-left: 12px;
  padding-right: 3px;
  padding-top: 5px
}

.eFapsButtonLabel {
  background-color: transparent;
  background-image: url(button-lb.png);
  background-position: left top;
  background-repeat: no-repeat;
  color: #00A000;
  display: block;
  font-family: arial;
  font-size: 11px;
  line-height: 17px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-top: 5px;
  text-decoration: none;
  font-weight: normal;
}

.eFapsButton:active {
  background-position: bottom right;
  color: #000;
  outline: none; /* hide dotted outline in Firefox */
}

.eFapsButton:active img {
  border-style: none;
  float: left;
  padding-left: 12px;
  padding-right: 3px;
  padding-top: 7px
}

.eFapsButtonLabel:active,.eFapsButton:active span {
  background-position: left bottom;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 18px;
}