<html xmlns:wicket>
<wicket:head>
  <link wicket:id="eFapsFooterPanelCSS" rel="stylesheet" type="text/css" href="FooterPanel.css"/>
</wicket:head>
<wicket:panel>
  <div id="eFapsFooter">
    <a wicket:id="CreateEditSearch">
      <img wicket:id="eFapsButtonDone" src="eFapsButtonDone.gif"/>
       <span wicket:id="eFapsButtonDoneLabel">Text here</span>
    </a>
    <a wicket:id="Cancel">
      <img wicket:id="eFapsButtonCancel" src="eFapsButtonCancel.gif"/>
       <span wicket:id="eFapsButtonCancelLabel">Text here</span>
    </a>
  </div> 
</wicket:panel>
</html>
  