body,th,td,p,div {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 8pt;
	margin: 0;
}

#eFapsFrameTitle {
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 3px;
	color: #008800;
	font-weight: bold;
	font-size: 13pt;
	height: 23px;
	white-space: nowrap;
	background-color: white;
	z-index: 1;
}