#eFapsListMenu ul {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.eFapsListMenuHeader:hover,.eFapsListMenuTable:hover,.eFapsListMenuItem:hover {
  background-color: #96d265;
  cursor: pointer;
  color: #FFF;
}

.eFapsListMenuTable {
  background-color: #d0edb8;
  width: 100%;
  border-bottom: 2px solid #fff;
  border-collapse: collapse;
  height: 18px;
}

.eFapsListMenuItem,.eFapsListMenuHeader {
  color: #008800;
  padding: 0px;
  text-decoration: none;
  vertical-align: middle;
}

.eFapsListCollapse {
  
}

.eFapsListMenuHeader {
  font-weight: bold;
  padding-left: 1px;
}

.eFapsListMenuHeader span {
  padding-left: 2px;
}

.eFapsListMenuSelected {
  background-color: #008800;
  padding: 3px;
  color: #FFF;
  font-weight: bold;
}

.eFapsListMenuClose,.eFapsListMenuGoInto {
  text-align: center;
}

.eFapsListMenuClose img,.eFapsListMenuGoInto img {
  vertical-align: middle;
}

.eFapsListMenuClose img:hover,.eFapsListCollapse img:hover,.eFapsListMenuGoInto img:hover
  {
  border: 1px solid #fff;
}

img.eFapsListMenuIcon {
  vertical-align: bottom;
  width: 16px;
  height: 16px;
}

.eFapsListCollapse,.eFapsListMenuClose,.eFapsListMenuGoInto {
  width: 1%;
}