#eFapsListMenu ul {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 9pt;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	background-color: #008800;
}

.eFapsListMenuHeader:hover,.eFapsListMenuItem:hover {
	background-color: #d0edb8;
	color: #008800;
	cursor: pointer;
}

.eFapsListMenuItem {
	display: block;
	color: #FFF;
	background-color: #96d265;
	padding: 3px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

.eFapsListMenuHeader {
	background-color: #008800;
	display: block;
	padding: 3px;
	color: #FFF;
	font-weight: bold;
}

.eFapsListMenuClose {
	display: inline;
}