#eFapsListMenu ul {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #008800;
}

.eFapsListMenuHeader:hover,.eFapsListMenuTable:hover,.eFapsListMenuItem:hover {
  background-color: #96d265;
  cursor: pointer;
  color: #FFF;
}

.eFapsListMenuTable {
  background-color: #96d265;
  width: 100%;
  border-bottom: 2px solid #fff;
  border-collapse: collapse;
  height: 18px;
}

.eFapsListMenuItem,.eFapsListMenuHeader {
  background-color: #d0edb8;
  color: #008800;
  padding: 0px;
  text-decoration: none;
  vertical-align: middle;
}

.eFapsListCollapse {
  border-right: 0px;
  background-color: #d0edb8;
}

.eFapsListMenuHeader {
  font-weight: bold;
  padding-left: 1px;
}

.eFapsListMenuHeader span {
  padding-left: 2px;
}

.eFapsListMenuSelected {
  background-color: #008800;
  padding: 3px;
  color: #FFF;
  font-weight: bold;
}

.eFapsListMenuClose {
  background-color: #008800;
  text-align: center;
  width: 1%;
  color: #FFF;
}

.eFapsListMenuClose:hover,.eFapsListCollapse:hover,.eFapsListMenuGoInto:hover {
  background-color: #96d265;
  color: red;
}

.eFapsListMenuGoInto {
  background-color: #008800;
  text-align: center;
  width: 1%;
  color: #FFF;
}

img.eFapsListMenuIcon {
  vertical-align: bottom;
  width: 16px;
  height: 16px;
}

.eFapsListCollapse {
  width: 1%;
}