.eFapsHeaderSort,.eFapsHeaderSortAscending,.eFapsHeaderSortDescending {
  cursor: pointer;
  float: left;
  width: 100%;
}

.eFapsHeaderSortAscending,.eFapsHeaderSortDescending {
  background-repeat: no-repeat;
  background-position: right;
}

.eFapsHeaderFilterActive,.eFapsHeaderFilter {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 18px;
  float: right;
}

.dojoDndAvatar {
  border: 2px solid #ccc;
  font-size: 75%;
  -moz-border-radius: 8pt 8pt;
  radius: 8pt;
}

.dojoDndAvatarHeader {
  display: none;
}

.dojoDndAvatarItem {
  background: #008800;
}

.dojoDndItemAfter {
  border-right: 4px solid red;
}

.dojoDndHandle {
  cursor: pointer;
}