.eFapsTableBody {
  line-height: 1.6em;
}

.eFapsTableHeader,.eFapsTableRowOdd,.eFapsTableRowEven {
  line-height: 1, 6 em;
  overflow: hidden;
  min-height: 18px;
  height: 18px;
  width: auto;
}

.eFapsTableHeader {
  background-color: #008800;
}

.eFapsTableRowOdd,.eFapsTableRowEven {
  background-color: white;
  background-image: url("dotted-line.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

.eFapsTableHeaderCell,.eFapsTableCell {
  background-color: transparent;
  border-left: 1px solid #ddd;
  float: left;
  min-height: 18px;
  overflow: hidden;
  padding-left: 6px;
  margin-left: 6px;
  display: block;
  float: left;
  white-space: nowrap;
}

.eFapsTableHeaderCell {
  line-height: 1.6em;
  color: white;
}

.eFapsTableCell {
  
}

.eFapsTableCell img {
  border: 0;
  vertical-align: top;
}

.eFapsTableCheckBoxCell {
  padding-left: 0;
  float: left;
  height: 18px;
  width: 14px;
}

.eFapsTableNoData {
  left: 30px;
  position: absolute;
}