#eFapsContentDiv {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
  overflow: auto;
  padding-bottom: 20px;
}

#eFapsContentDiv img {
  width: 16px;
  height: 16px;
  border: 0;
  vertical-align: bottom;
}

.eFapsHeading1 {
  margin-top: 15px;
  margin-bottom: 3px;
  color: #008800;
  font-weight: bold;
  font-size: 11pt;
  padding: 3px;
}

.eFapsHeading2 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #008800;
  font-weight: bold;
  font-size: 9pt;
  text-decoration: underline;
}