#eFapsContentDiv {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
  overflow: auto;
}

#eFapsContentDiv img {
  width: 16px;
  height: 16px;
  border: 0;
  vertical-align: bottom;
}

.eFapsSubTitel {
  margin-top: 20px;
}