#eFapsSideMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	color: #FFF;
	background-color: #036;
}

#eFapsSideMenu a:hover {
	background-color: #369;
	color: #FFF;
}

#eFapsSideMenu li a {
	margin: 0;
	padding: 3px;
	display: block;
	color: #FFF;
	background-color: #036;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}

#eFapsSideMenu ul ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	color: #FFF;
	background-color: #036;
}

#eFapsSideMenu ul ul li a {
	display: block;
	color: #FFF;
	background-color: #69C;
	padding: 3px 12px 3px 8px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: normal;
}