@CHARSET "UTF-8";

body,th,td,p,div {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 8pt;
}

div#eFapsFrameTitle {
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: #008800;
	font-weight: bold;
	padding-left: 3px;
	font-size: 13pt;
	height: 28px;
	white-space: nowrap;
}