/**
 *
 */

.eFapsLifeCycle  {
	white-space:nowrap;
	text-align: center;
	line-height: 30px;
}

.eFapsLifeCycleNext  {
	margin: 5px;
	white-space:nowrap;
}

.eFapsLifeCycleStatus  {
	width: 90px;
	background-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	border-color: #007700;
	border-collapse: collapse;
	white-space:nowrap;
}

.eFapsLifeCycleCurrentStatus  {
	width: 90px;
	background-color: #88FF88;
	border-width: 2px;
	border-style: solid;
	border-color: #007700;
	border-collapse: collapse;
	white-space:nowrap;
}