.eFapsForm {
  width: 99%;
}

.eFapsFormRow {
  height: 24px;
}

.eFapsFormLabel,.eFapsFormLabelRequired,.eFapsFormLabelRequiredForce {
  background-color: #D0EDB8;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  width: 150px;
  white-space: nowrap;
}

.eFapsFormLabel {
  color: #008800;
  border-style: solid;
  border-color: #008800;
  border-width: 2px;
}

.eFapsFormLabelRequired {
  color: black;
  font-style: italic;
  border-style: double;
  border-color: #008800;
}

.eFapsFormLabelRequiredForce {
  background-color: red;
  color: black;
  font-style: italic;
  border-style:double;
  border-color: black;
}

.eFapsFormValue {
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  background-color: white;
  background-image: url("dotted-line.png");
  background-repeat: repeat-x;
  background-position: bottom;
  border-right: 1px solid #ddd;
}

/* Input Field Appearance */
.eFapsFormInputField {
  background-color: #eeeeee;
  font-size: 12px;
}