<?xml version="1.0" encoding="UTF-8"?>

<!--

 Copyright 2003 - 2009 The eFaps Team

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

 Author:          tmo
 Revision:        $Rev$
 Last Changed:    $Date$
 Last Changed By: $Author$

-->

<?eclipse version="3.2"?>
<plugin
>
<!--
  id="@maven.eclipse.plugin.artifact.id@"
  version="@maven.eclipse.plugin.artifact.version@"
  name="eFaps Eclipse Plugin"
  provider-name="The eFaps Team"

   <runtime>
      <library name="@maven.eclipse.plugin.artifact.internal.id@-@maven.eclipse.plugin.artifact.internal.version@.jar">
      </library>
   </runtime>
   -->

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.user.group"
            name="eFaps User Group Content"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="user-group">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.user.jaassystem"
            name="eFaps User JAAS System Content"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="user-jaassystem">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.user.role"
            name="eFaps User Role Content"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="user-role">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.common.dbproperties"
            name="eFaps Common DB Properties Content"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="dbproperties">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.common.systemattribute"
            name="eFaps Common System Attribute Content"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="common-systemattribute">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.datamodel.type"
            name="eFaps Data Model Type Content"
            priority="high">
       <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         <parameter name="element" value="datamodel-type"/>
       </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.datamodel.sqltable"
            name="eFaps Data Model SQL Table Content">
       <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         <parameter name="element" value="datamodel-sqltable"/>
       </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.command"
            name="eFaps User Interface Command Content">
       <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         <parameter name="element" value="ui-command"/>
       </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.form"
            name="eFaps User Interface Form Content">
       <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         <parameter name="element" value="ui-form"/>
       </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.image"
            name="eFaps User Interface Image Content">
       <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         <parameter name="element" value="ui-image"/>
       </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.menu"
            name="eFaps User Interface Menu Content">
       <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         <parameter name="element" value="ui-menu"/>
       </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.search"
            name="eFaps User Interface Search Content">
       <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         <parameter name="element" value="ui-search"/>
       </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.efaps.eclipse.contenttypes.table"
            name="eFaps User Interface Table Content">
       <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         <parameter name="element" value="ui-table"/>
       </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/user/Admin_User_GroupImage.gif"
            id="org.efaps.eclipse.decorators.user.group"
            label="eFaps User Group Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.user.group">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/user/Admin_User_JAASSystemImage.gif"
            id="org.efaps.eclipse.decorators.user.jaassystem"
            label="eFaps User JAAS System Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.user.jaassystem">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/user/Admin_User_RoleImage.gif"
            id="org.efaps.eclipse.decorators.user.role"
            label="eFaps User Role Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.user.role">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/common_dbproperties/Admin_Common_DBPropertiesBundleImage.gif"
            id="org.efaps.eclipse.decorators.common.dbproperties"
            label="eFaps Common DB Properties Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.common.dbproperties">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/common_systemattribute/Admin_Common_SystemAttributeImage.gif"
            id="org.efaps.eclipse.decorators.common.systemattribute"
            label="eFaps Common System Attribute Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.common.systemattribute">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/datamodel/Admin_DataModel_TypeImage.gif"
            id="org.efaps.eclipse.decorators.datamodel.type"
            label="eFaps Data Model Type Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.datamodel.type">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/datamodel/Admin_DataModel_SQLTableImage.gif"
            id="org.efaps.eclipse.decorators.datamodel.sqltable"
            label="eFaps Data Model SQL Table Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.datamodel.sqltable">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/userinterface/Admin_UI_CommandImage.gif"
            id="org.efaps.eclipse.decorators.command"
            label="eFaps User Interface Command Decorator"
            lightweight="true"
            location="UNDERLAY"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.command">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/userinterface/Admin_UI_FormImage.gif"
            id="org.efaps.eclipse.decorators.form"
            label="eFaps User Interface Form Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.form">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/userinterface/Admin_UI_ImageImage.gif"
            id="org.efaps.eclipse.decorators.image"
            label="eFaps User Interface Image Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.image">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/userinterface/Admin_UI_MenuImage.gif"
            id="org.efaps.eclipse.decorators.menu"
            label="eFaps User Interface Menu Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.menu">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/userinterface/Admin_UI_SearchImage.gif"
            id="org.efaps.eclipse.decorators.search"
            label="eFaps User Interface Search Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.search">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/userinterface/Admin_UI_TableImage.gif"
            id="org.efaps.eclipse.decorators.table"
            label="eFaps User Interface Table Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.efaps.eclipse.contenttypes.table">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.xml.ui.internal.editor.XMLEditorPluginImages"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/user/Admin_User_GroupImage.gif"
            id="org.efaps.eclipse.editors.user.group"
            name="eFaps User Group Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.user.group">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/user/Admin_User_JAASSystemImage.gif"
            id="org.efaps.eclipse.editors.user.jaassystem"
            name="eFaps User JAAS System Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.user.jaassystem">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/user/Admin_User_RoleImage.gif"
            id="org.efaps.eclipse.editors.user.role"
            name="eFaps User Role Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.user.role">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/common_dbproperties/Admin_Common_DBPropertiesBundleImage.gif"
            id="org.efaps.eclipse.editors.common.dbproperties"
            name="eFaps Common DB Properties Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.common.dbproperties">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/common_systemattribute/Admin_Common_SystemAttributeImage.gif"
            id="org.efaps.eclipse.editors.common.systemattribute"
            name="eFaps Common System Attribute Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.common.systemattribute">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/datamodel/Admin_DataModel_TypeImage.gif"
            id="org.efaps.eclipse.editors.datamodel.type"
            name="eFaps Data Model Type Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.datamodel.type">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/datamodel/Admin_DataModel_SQLTableImage.gif"
            id="org.efaps.eclipse.editors.datamodel.sqltable"
            name="eFaps Data Model SQL Table Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.datamodel.sqltable">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.eclipse.wst.xml.ui.internal.editor.XMLEditorPluginImages"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/userinterface/Admin_UI_CommandImage.gif"
            id="org.efaps.eclipse.editors.command"
            name="eFaps User Interface Command Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.command">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/userinterface/Admin_UI_FormImage.gif"
            id="org.efaps.eclipse.editors.form"
            name="eFaps User Interface Form Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.form">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/userinterface/Admin_UI_ImageImage.gif"
            id="org.efaps.eclipse.editors.image"
            name="eFaps User Interface Image Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.image">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/userinterface/Admin_UI_MenuImage.gif"
            id="org.efaps.eclipse.editors.menu"
            name="eFaps User Interface Menu Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.menu">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/userinterface/Admin_UI_SearchImage.gif"
            id="org.efaps.eclipse.editors.search"
            name="eFaps User Interface Search Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.search">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.efaps.eclipse.editors.XMLEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/userinterface/Admin_UI_TableImage.gif"
            id="org.efaps.eclipse.editors.table"
            name="eFaps User Interface Table Editor">
         <contentTypeBinding
               contentTypeId="org.efaps.eclipse.contenttypes.table">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.efaps.eclipse.PreferencePage"
            id="EclipsePlugin.page1"
            name="eFaps Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.efaps.eclipse.command.connect"
            name="%plugin.command.connect">
         <defaultHandler
               class="org.efaps.eclipse.handlers.ConnectHandler">
         </defaultHandler>
      </command>
      <command
            id="org.efaps.eclipse.command.reloadCache"
            name="%plugin.command.reloadCache">
         <defaultHandler
               class="org.efaps.eclipse.handlers.ReloadCacheHandler">
         </defaultHandler>
      </command>
      <command
            id="org.efaps.eclipse.command.update"
            name="%plugin.command.update">
         <defaultHandler
               class="org.efaps.eclipse.handlers.UpdateHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.efaps.eclipse.command.update"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.efaps.eclipse.menus.sampleMenu"
               label="eFaps"
               mnemonic="M">
            <command
                  commandId="org.efaps.eclipse.command.update"
                  id="org.efaps.eclipse.menus.update"
                  style="push">
            </command>
            <command
                  commandId="org.efaps.eclipse.command.reloadCache"
                  id="org.efaps.eclipse.menus.reloadCache"
                  style="push">
            </command>
            <separator
                  name="org.efaps.eclipse.menus.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.efaps.eclipse.command.connect"
                  id="org.efaps.eclipse.menus.connect"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.efaps.eclipse.toolbars.sampleToolbar">
            <command
                  commandId="org.efaps.eclipse.command.update"
                  icon="icons/datamodel/Admin_DataModel_Type+Edit+Image.gif"
                  id="org.efaps.eclipse.toolbars.updateCommand"
                  label="%plugin.toolbar.updateCommand.Label"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.efaps.eclipse.EfapsConsoleFactory"
            label="%plugin.console">
      </consoleFactory>
   </extension>

</plugin>
