<configuration>

  <!-- type>org.efaps.db.databases.DerbyDatabase</type -->
  <type>org.efaps.db.databases.PostgreSQLDatabase</type>
  <factory>org.apache.commons.dbcp.BasicDataSourceFactory</factory>
  <connection><!-- 
    username        = efaps,
    password        = efaps,
    driverClassName = org.apache.derby.jdbc.ClientDriver,
    url             = jdbc:derby://localhost:1527/efaps;create=true,
    factory         = org.apache.commons.dbcp.BasicDataSourceFactory,
    maxActive       = 100,
    maxIdle         = 10,
    maxWait         = -1,
    removeAbandoned = true,
    logAbandoned    = true -->
    username        = efaps,
    password        = efaps,
    driverClassName = org.postgresql.Driver,
    url             = jdbc:postgresql://localhost:5432/efaps,
    factory         = org.apache.commons.dbcp.BasicDataSourceFactory,
    maxActive       = 100,
    maxIdle         = 10,
    maxWait         = -1,
    removeAbandoned = true,
    logAbandoned    = true
  </connection>

  <userName>Administrator</userName>
  <passWord>Administrator</passWord>
</configuration>