@CHARSET "UTF-8";


ul.eFapsSideMenu {
  list-style-type:none;
  list-style-position:outside;
  margin: 0;
  padding:0px 15px;
}

ul.eFapsSideMenu li{
  border:1px solid;
  background-color: #ccc;
  
}

ul.eFapsSideMenu div{
cursor:pointer;
}