.eFapsHeaderSortTD:hover,.eFapsHeaderFilterTD:hover {
  cursor: pointer;
  color: #d0edb8;
}

.eFapsHeaderSortTD,.eFapsHeaderFilterTD {
  height: 19px;
  vertical-align: middle;
  white-space: nowrap;
}