@CHARSET "UTF-8";

/* Odd Table Row Appearance */
tr.eFapsTableRowOdd {
        background-color: #ffffff;
}

/* Even Table Row Appearance */
tr.eFapsTableRowEven {
        background-color: #d0ffd0; 
}

/* image of buttons in a row of a web table */
tr.eFapsTableRowOdd td a img,
tr.eFapsTableRowEven td a img  {
        border-width: 0;
        border-style: none;
}