.eFapsFooter {
  background: #DDDECB;
  border-bottom: 1px solid;
  border-top: 1px solid;
  bottom: 0px;
  height: 40px;
  margin: 0pt;
  padding: 0pt;
  position: absolute;
  width: 100%;
}

.eFapsFooterButtons {
  position: absolute;
  right: 10px;
  top: 5px;
}

.eFapsFooterButton1,.eFapsFooterButton2 {
  float: left;
}

#eFapsContentDiv {
  bottom: 42px;
}