#eFapsContentDiv {
  position: absolute;
  width: 100%;
  top: 75px;
  bottom: 0px;
  overflow: auto;
}

/* Odd Table Row Appearance */
tr.eFapsTableRowOdd {
  background-color: #ffffff;
}

/* Even Table Row Appearance */
tr.eFapsTableRowEven {
  background-color: #d0edb8;
}

/* image of buttons in a row of a web table */
tr.eFapsTableRowOdd td a img,tr.eFapsTableRowEven td a img {
  border-width: 0;
  border-style: none;
}

/* Table Header Appearance */
#eFapsTableHeader {
  position: static;
  width: 100%;
  top: 0px;
  margin-left: 0;
  padding: 0;
  font-weight: bold;
}

#eFapsTableHeader   div {
  position: absolute;
  top: 140;
  color: white;
  background-color: #00A000;
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: white;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
}

/* Table Header Link Appearance */
#eFapsTableHeader div a {
  text-align: right;
  color: white;
  text-decoration: none;
}

#eFapsTableHeader div a:hover {
  text-decoration: underline;
  color: #ccffff;
}

#eFapsTableBody {
  width: 100%;
}

.eFapsTableNoData {
  position: absolute;
  left: 30px;
}