body {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.eFapsWarnDialogText {
  padding: 10px;
}

.eFapsWarnDialogButtons {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.eFapsWarnDialogButton1 {
  float: left;
}

.eFapsWarnDialogButton2 {
  float: right;
}